{% extends 'music/music.html' %}

{% block content-right %}
    <div class="general">
      {% for el in Types %}
            <div class="TypeMusics">
                <section class="img-type">
                    <img src="{{ el.img_type.url }}" alt="{{ el.name_type }}">
                </section>
                <section class="info-type">
                    <a href="{% url 'genre-details' el.id %}" class="btn btn-view">
                        {{ el.name_type }}
                    </a>
                </section>
            </div>
        {% endfor %}
    </div>
{% endblock %}
