{% load static %}
<!DOCTYPE html>
<html class="page" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музыкальная платформа</title>
    <link rel="stylesheet" href="{% static 'music/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'music/css/music.css' %}">
</head>
{% block content %}
<body class="page-body">
    <header class="header">
        <nav class="nav_active">
            <ul class="nav_list">
                <li class="nav_items">
                    <a class="nav_items_list" href="/music/list">Музыка</a>
                </li>
                <li class="nav_items">
                    <a class="nav_items_list" href="/music/genre">Жанры</a>
                </li>
                <li class="nav_items">
                    <a class="nav_items_list" href="/music/singers">Исполнители</a>
                </li>
                <li class="nav_items">
                    <form class="search">
                        <input type="text" placeholder="Поиск...">
                        <button type="submit"></button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</body>
{% endblock %}
</html>
