<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <h1>Музыка</h1>
</header>
<body>
    {% for el in Types %}
    <div class="TypeMusics">
        <h3>{{ el.name_type }}</h3>
        <p>{{ el.description }}</p>
    </div>
    {% endfor %}

    {% for el in Singerss %}
    <div class="Singers">
        <h3>{{ el.name_singer }}</h3>
    </div>
    {% endfor %}

    {% for el in Songss %}
    <div class="Songs">
        <h3>{{ el.name_song }}</h3>
    </div>
    {% endfor %}
</body>
</html>